
.container {
  position: relative; 
  width: 100%;
  min-height: 100vh; 
  overflow: hidden;    
  background-color: #f5f2e7; 
   align-items: center;
   justify-content: center;
  display: flex;      
  flex-direction: column;
  z-index: 1;
}
.container::before {
  width: 300px;
  height: 400px;
  background-color: #a2ad91; 
  top: -100px;
  left: -100px;
  border-radius: 40% 60% 70% 30% / 40% 40% 60% 60%; 
  transform: rotate(-15deg);
}


.container::after {
  width: 400px;
  height: 500px;
  background-color: #a7bbc7; 
  bottom: -150px;
  right: -100px;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}
.container::before,
.container::after {
  content: "";
  position: absolute;
  z-index: -1; 
}
