.button{
    padding: 10px 20px;
    border: none;
    border-radius:20px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}