.topo{
    position: absolute;
    top: 330px;
    width: 80%;
    height: 98px;
    background-color: #F7F5EA;
    border-radius: 20px;
    box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.iconPerfil {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 1.6rem;
  border-radius: 50%;
}
@media (min-width: 320px) and (max-width: 767px){
  .topo{
    position: absolute;
    top: 36%;
    width: 90%;
    height: 98px;
    background-color: #F7F5EA;
    border-radius: 20px;
    box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}}
@media (min-width: 1025px){
  .topo{
    position: absolute;
    top: 38%;
    width: 80%;
    height: 95px;
    background-color: #F7F5EA;
    border-radius: 20px;
    box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}}