.carousel {
    margin: 50px 0;
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    gap: 16px;
    will-change: transform;
}

.card {
    min-width: 200px;
    width: 200px;
    height: 220px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #222;
    flex-shrink: 0;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}