.carousel {
    margin: 50px 0;
    width: 100%;
    overflow: hidden;
    
}

.carousel-track {
    display: flex;
    height: 250px;
    gap: 26px;
    will-change: transform;
    
}

.card {
    min-width: 200px;
    width: 200px;
    height: 220px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #222;
    flex-shrink: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}