.container {
  position: relative;
  background-color: #9CA697;
  color: #fff;
  width: 100vw;
  height: 387px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 20px;
  border-radius: 0 0 54px 54px;
  box-sizing: border-box;
}
.iconPerfil {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  font-size: 1.6rem;
  border-radius: 50%;
}


.iconButton {
  position: absolute;
  left: 5px;
  z-index: 1005;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 75vw;
  /* background: rgba(255, 255, 255, 0.3); */
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 350ms cubic-bezier(0.22, 0.8, 0.36, 1),
    opacity calc(350ms / 1.2) ease;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.582);
  border-radius: 0 25px 25px 0;
  /* backdrop-filter: blur(4px); */
  z-index: 1001;
  padding: 80px 20px;
  box-sizing: border-box;
}

.sideNav.open {
  transform: translateX(0);
  opacity: 1;
}

.sideNav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 20% -1% 0 3%;
}
.sideNav li {
  margin: 12px 0;
  transition: 0.5s ease;
}
.sideNav li:hover {
  transform: scale(1.1);
}
.sideNav a {
  text-transform: uppercase;
  letter-spacing: 2px;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  font-weight: 600;
  transition: color 160ms;
}


.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
}
.showOverlay {
  background: rgba(0, 0, 0, 0.35);
  pointer-events: auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .sideNav.open {
  transform: translateX(0);
  opacity: 1;
}
  .sideNav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 75vw;
  background: rgba(0, 0, 0, 0.01);
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 350ms cubic-bezier(0.22, 0.8, 0.36, 1),
    opacity calc(350ms / 1.2) ease;
  box-shadow: 5px 8px 100px rgba(0, 0, 0, 0.582);
  border-radius: 0 25px 25px 0;
  backdrop-filter: blur(4px);
  z-index: 1001;
  padding: 80px 20px;
  box-sizing: border-box;
}

.sideNav.open {
  transform: translateX(0);
  opacity: 1;
}

.sideNav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 20% -1% 0 3%;
}
.sideNav li {
  margin: 12px 0;
  transition: 0.5s ease;
}
.sideNav li:hover {
  transform: scale(1.1);
}
.sideNav a {
  text-transform: uppercase;
  letter-spacing: 2px;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  font-weight: 600;
  transition: color 160ms;
}

  .overlay {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .iconButton {
    display: none;
  }
.container {
  position: relative;
  background-color: #9CA697;
  color: #fff;
  width: 100vw;
  height: 387px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 20px;
  border-radius: 0 0 54px 54px;
  box-sizing: border-box;
}

.sideNav {
  position: absolute;
  margin-top: 1%;
  left: 1%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 3%;
  height: 50px;
  width: 100vw;
  background: none;
  transform: none;
  opacity: 1;
  box-shadow: none;
  padding: 0;
  box-sizing: border-box;
}

  .sideNav ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0;
    margin-right: 1%;
    gap: 1%;
  }
  .sideNav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    gap: 10px;
  }
  .sideNav li {
  margin:0;
  transition: 0.5s ease;

}
 
  .sideNav li:hover {
    transform: scale(1.2);
  }
  .overlay {
    display: none;
  }
}
@media (min-width: 1025px) {
   .iconButton {
    display: none;
  }
.container {
  position: relative;
  background-color: #9CA697;
  color: #fff;
  width: 100vw;
  height: 387px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 20px;
  border-radius: 0 0 54px 54px;
  box-sizing: border-box;
}

.sideNav {
  position: absolute;
  margin-top: 1%;
  left: 1%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 3%;
  height: 50px;
  width: 100vw;
  background: none;
  transform: none;
  opacity: 1;
  box-shadow: none;
  padding: 0;
  box-sizing: border-box;
}

  .sideNav ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0;
    margin-right: 1%;
    gap: 1%;
  }
  .sideNav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    gap: 10px;
  }
  .sideNav li {
  margin:0;
  transition: 0.5s ease;

}
 
  .sideNav li:hover {
    transform: scale(1.2);
  }
  .overlay {
    display: none;
  }
}


