.barra-pesquisa{
 position: relative;
}
.pesquisa {
    margin: 80px auto;
    width: 350px;
    height: 38px;
    padding: 10px 0px 10px 35px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-width: 0px;
}
.pesquisa:focus {
    outline: none;
    box-shadow: 0 0 5px #9CA697;
    border-color: #9CA697;
}

.fa-magnifying-glass {
    position: absolute;
    top: 47%;
    left: 3%;
    color: #808080;
    font-size: 16px;
}

.lista {
    list-style: none;
    width: 100vw;
    height: 50px;
    display: flex;
    padding: 5px;
    justify-content: center;
    flex-direction: row;
    gap: 10%;
}

.lista li {
    padding: 10px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #808080;
    background-color: #fff;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 800;
}